@import "~/.cache/wal/colors-rofi-dark.rasi"

* {
    font: "IosevkaTerm Nerd Font 12";
}

configuration {
    modi: "drun";
    show-icons: true;
    icon-theme: "Papirus";
    drun-display-format: "{name}";
    disable-history: false;
}

window {
    width: 25%;
    border-radius: 10px;
    border: 1px;
    border-color: @active;
    background-color: @background;
    padding: 8px;
}

mainbox {
    children: [inputbar, listview];
    spacing: 8px;
}

inputbar {
    background-color: @background-alt;
    text-color: @foreground;
    padding: 8px;
    border-radius: 8px;
    children: [entry];
}

entry {
    placeholder: "Search apps...";
    placeholder-color: #888890;
    text-color: @foreground;
}

listview {
    lines: 6;
    spacing: 2px;
    fixed-height: false;
}

element {
    padding: 6px 8px;
    border-radius: 6px;
}

element normal.normal {
    text-color: @foreground;
    background-color: transparent;
}

element alternate.normal {
    text-color: @foreground;
    background-color: transparent;
}

element selected.normal {
    background-color: @active;
    text-color: @background;
}

element alternate.selected {
    background-color: @active;
    text-color: @background;
}

element-icon {
    size: 20px;
    padding: 0 8px 0 0;
}

element-text {
    vertical-align: 0.5;
}
